@page "/Products/{Id:int}"

@inherits ProductDetailsBase

@if (ProductWithCategory == null)
{
    <h3>Loading product...</h3>
}
else
{
    <div class="product-details-header">
        <a href="/Products" class="btn btn-primary">
            <i class="oi oi-arrow-left"></i>
        </a>
        <h3>Product Details</h3>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <img class="img-thumbnail" src="@ProductWithCategory.ImageURL">
        </div>
        <div class="col-12 col-md-6">
            <h4>@ProductWithCategory.Name</h4>
            <p>
                <b>@ProductWithCategory.Price.ToString("C")</b>
            </p>
            <p>
                @ProductWithCategory.Description
            </p>
            <p>
                <b>Category:</b> @ProductWithCategory.CategoryName
            </p>
        </div>
    </div>
}